

<div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="column">
        <div class="logo">
          <a href="#">
            <img src="assets/images/footer-logo.png" witdth="168" height="42"/>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <address>
          <div class="subtitle">
            <h4>Contacts</h4>
            <div class="text-wrapper">
              <div class="info">123 (456) 7890 45</div>
              <div class="info">
                <a class="mail-contact" href="mailto:info@yoursite.com">info@yoursite.com</a>
              </div>
            </div>
          </div>
        </address>

      </div>
      <div class="col-md-6">
        <div class="subtitle">
          <h4>Follow Us
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">

        <div class="text-content">
          <a href="" target="_blank">Company name</a> © 2018. All rights reserved.
        </div>
      </div>
  </div>
</div>
