<div class="about-us-section">
  <div class="container">
    <div class="row">
      <h3 class="title">
        {{aboutUsContent.title}}
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let about of aboutUsContent.aboutUsArray">
        <div class="image-container">
          <img [alt]="about.alt" [src]="about.imgLocation"/>
        </div>
        <div class="subtitle">
          <h4> {{about.subtitle}} </h4>
        </div>
        <div class="text-container">
          {{about.text}}
        </div>
      </div>
    </div>

  </div>
  <div class="banner">
    <div class="container">
      <div class="title">
        <h3>{{aboutUsBanner.title}}</h3>
      </div>
      <div class="subtitle">
        <h5>{{aboutUsBanner.subtitle}}</h5>
      </div>
      <div class="shop-button">
        <div class="bee-shop-button"><a routerLink="/shop">Shop now</a></div>
      </div>
    </div>
  </div>
</div>
